/* Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: -1px;
    display: flex;
}

.header__navbar-item {
    margin: 8px 8px 8px 8px;
    position: relative;
    min-height: 30px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;

}

.header__navbar-user-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 3;
    padding: 0 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::before {
    content: "";
    border: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
    z-index: -1;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 12px;
    
}

.header__navbar-user-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 16px 16px;
}

.header__navbar-user-menu a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-menu a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item {
    
}

.header__navbar-user-item:nth-child(3) a {
    color: var(--primary-color);
    font-weight: 500;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-menu a:hover {
    background-color: #eaeaea;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
    z-index: 1;
}

.header__navbar-item--separate::after {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #eaeaea;
    height: 15px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    
}


.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 0;
}

.header__navbar-item, 
.header__navbar-item-link, 
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;

}

.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
} 

.header__navbar-item--strong {
    font-weight: 1000;
    top: -1px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 1px;
}

.header__navbar-icon-link:nth-child(3) {
    margin-left: -4px;
}

.header__navbar-icon {
    font-size: 1.4rem;
    margin: 0 6px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
    
}

/* Header QR Code */
.header__qr {
    background-color: var(--white-color);
    width: 176px;
    position: absolute;
    left: -8px;
    top: 110%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.5s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.254);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top: -15px;
    display: block;


}
.header__qr-img {
    width: 160px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 12px;
}

.header__qr-link:last-child {
    margin-right: 13px;
}

.header__qr-download-img {
    height: 15px;

}

/* Header notification */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 3;
    border-radius: 4px;

}

.header__notify::before {
    content: "";
    border: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -27px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: -16px;
    right: 0;
    top: 0;
    
}
.header__navbar-item--has-notification:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
    
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item-viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238, 75, 43, 0.06);
    width: 100%;

}

.header__notify-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 0.5px solid var(--border-color);
    padding: 0;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 4px;
    line-height: 1.5rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;  
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
/* Auth Modal */
.auth-form {
    width: 456px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

/* .auth-form__form {

} */

.auth-form__input {
    height: 34px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.8rem;
    border-radius: 8px;
    border: 2px solid var(--border-color);
}

/* .auth-form__aside {
    margin-top: 18px;
} */

.auth-form__policy-agreement {
    display: inline-flex;
}

.auth-form__checkbox{
    height: 15px;
    width: 15px;
    padding: 0 15px;
    margin-top: 20px;
    margin-right: 8px;
    cursor: pointer;
    
}

input[type="checkbox"]:checked {
    color: var(--primary-color);
}

.auth-form__policy-text {
    font-size: 1.8rem;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 20px;
    
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #efefef;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A4A98;
    color: var(--white-color);
}

.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-label {
    margin: 0 24px;
    line-height: 1.6rem;
    
}

.auth-form__socials--google {
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
}

.auth-form__help-link {
    font-size: 1.8rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-link:hover {
    color:rgb(37, 30, 30);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 8px ;
}

.auth-form__help-forgot {
    color: #ff6a00;
}

.auth-form__help-forgot:hover {
    color: rgb(227, 13, 13);
}


/* Search header */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-content: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);

}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    margin-top: 12px;
    /* flex: 1; */
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 4px;
    z-index: 2;
    position: relative;
}

.header__suggestion-list {
    display: flex;
    position: absolute;
    bottom: -38px;
    left: -40px;
    list-style: none;
}

.header__suggestion-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    margin-right: 16px;
    font-weight: 100;
}

.header__suggestion-link:hover {
    text-decoration: underline;
}

.header__cart {
    width: 128px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);

}

.header__cart-wrap:hover .header__cart-list {
    display: block;
    cursor: default;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 9px);
    right: -22px;
    background-color: var(--white-color);
    width: 400px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 2;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 22px;
    top: -30px;
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}



.header__cart-list--empty-cart {
    padding: 24px 0;
    
}

.header__cart-list--empty-cart .header__cart-empty-cart-img,
.header__cart-list--empty-cart .header__cart-list-empty-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-empty-cart-img {
    width: 60%;
    margin-top: 40px;
    display: none;
}

.header__cart-list-empty-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 28px;
    color: var(--text-color);
    cursor: text;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 8px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    top: -10px;
    right: -12px;
    border: 2px solid #EE4D2D;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 0px 12px;
    font-size: 1.4rem;
    color: rgb(180, 180, 180);
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: flex-start;
    
}

.header__cart-item:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}

.header__cart-img {
    width: 48px;
    object-fit: contain;
    margin: 12px;
    border: 0.5px solid var(--border-color);

}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    max-height: 3.2rem;
    max-width: 200px;
    color: var(--text-color);
    overflow: hidden;   
    text-align: left;
    flex: 1;
    /* margin-bottom: 0; */
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* .header__cart-item-price-wrap {

} */

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1.6rem;
    margin: 0 2px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.4rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    margin-top: -12px;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 0px;
}

.header__cart-item-remove:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border:none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 12px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 12px;
    position: relative;
    margin-top: 2px;
    z-index: 1;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px 4px;
    cursor: pointer;
}


.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 12px 0 4px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 4px;
    margin-right: 2.5px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #ff5e00;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    width: 100px;
    list-style: none;
    box-shadow: 0 0 4px #ccc;
    padding-left: 0px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease 0.25s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 16px;
    top: -16px;
    position: absolute;
    left: 0;
    cursor: default;

}

.header__search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;

}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
    margin-right: 4px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 2px 0 4px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
    margin-top: -0.5px;
    z-index: 1;
        
}
/* Search History */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
}


.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;

}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}   

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Body container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: -13.2px;
}

.category__heading {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 12px 16px;
    color: var(--text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 12px;
}

/* .category-item {
    position: relative;
    margin-top: 0;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    border: 1px solid #E1E1E1;
    position: absolute;
    content: "";
    top: 0;
    left: 16px;
    right: 16px;
} */

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 6px;
    position: absolute;
    border: 5px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter*/
.home-filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 4px;
    width: 100%;

}

.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;

}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 24px;
}

.home-filter__current-page {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}


.home-filter__page-btn--disabled{
    background-color: #F9F9F9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.2rem;
    color: #555555;
    
}


/* Product-item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    background-color: var(--white-color);
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform linear 0.2s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 8px 12px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis; */
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    margin-left: 12px;
    margin-top: 4px;
    margin-right: -4px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 12px;
    margin-top: 4px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 16px 12px;
}

.home-product-item__like {
    font-size: 1.2rem;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

i.home-product-item__like-icon--dislike {
    color: #ccc;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30 !important;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #D5D5D5;
    margin-left: auto;
    
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: -3px 12px 0;
    color: #595959;
    font-size: 1.1rem;
    font-weight: 100;
}

.home-product-item__brand {

}

.home-product-item__origin-name {
    margin-left: auto;
    padding-bottom: 12px;
}

.home-product-item__favorite {
    position: absolute;
    width: 60px;
    height: 18px;
    top: 8px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.1rem;
    padding-right: 4px;
    line-height: 1.8rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.8rem;
    margin: 0 2px 0 4px;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
}
.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.4rem;
    display: block;
    padding-top: 4px;
    margin-bottom: 2px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}


.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item {
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    padding: 4px 0;
    align-items: center;

}

.footer-item__row {
    display: inline-block;
    margin-right: 8px;
}

.footer-item__img {
    margin: 4px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    padding: 4px 0;
    border-radius: 2px;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.4rem;
    margin: -2px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.footer__download-app-img {
    height: 16px;
    margin-left: 16px;
    margin-top: 4px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__text {
    font-size: 1.4rem;
    margin: auto;
    padding: 32px 0;
    color: #666;
}

.footer_text-container {
    width: 100%;
    border-top: 0.5px solid #ccc;
    display: flex;
    margin-top: 16px;
}


